.navbar{
  width: 100%;
  background-color: var(--primary);
  height: auto;
  padding: 20px 0px;

  &_navlink{
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-right: 1px solid #000;
  }

  &_title{
    padding: 40px 20px;
    color: white;
    margin-right: 50px;
  }
}

main{
  background-color: bisque;
  min-height: 100vh;
}
